* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.menu-btn {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    display: none;
}

/*================
navbar
==================*/

.navbar {
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    overflow: hidden;
}

.navbar .logo img {
    width: 110px;
}

.main-menu {
    display: flex;
    align-items: center;
}

.main-menu li {
    padding: 0px 15px;

}

.main-menu li a:hover {
    border-bottom: 2px solid black;
}

.right-menu {
    display: flex;
}

.right-menu li a {
    padding: 15px;
}

.right-menu li a i {
    margin-left: 5px;
}


/*================
showcase
================*/

.showcase {
    background-image: url("images/showcase.avif");
    height: 460px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-size: cover;
    cursor: pointer;
}

.showcase-content {
    margin-left: 150px;
    width: 450px;
}

.showcase-content h1 {
    padding-bottom: 10px;
}

.showcase-content p {
    padding-bottom: 10px;
}

.btn {
    background-color: #026ec1;
    color: white;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    transition: all 0.2s ease-in;
}

.btn:hover {
    background-color: #035da1;
}


/*================ 
first-container 
================ */

.container {
    width: 90%;
    margin: auto;
}

.first-container {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    padding: 50px 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 450px;
    box-shadow: 0px 1px 5px rgb(204, 204, 204);
    cursor: pointer;
}

.card img {
    width: 100%;
}

.card h2 {
    font-weight: 500;
    font-size: 30px;
    padding: 10px 20px;
}

.card p,
h2 {
    line-height: 1.5;
    padding: 10px 20px;
}

.card .btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
}


/*================
second-container
================*/

.second-container {
    background-image: url("images/picture.avif");
    height: 530px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-size: cover;
    cursor: pointer;
}

.content {
    width: 560px;
    margin-left: 150px;
}

.content h2 {
    font-size: 30px;
}

.content p {
    line-height: 1.5;
}

.btn {
    background-color: #026ec1;
    color: white;
    padding: 10px;
    margin-top: 25px;
    display: inline-block;
    transition: all 0.2s ease-in;
}

.btn:hover {
    background-color: #035da1;
}

/*================
third-container 
================*/

.third-container {
    margin-top: 60px;
}

.third-container>h2 {
    font-size: 40px;
    font-weight: 600;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 500px;
    box-shadow: 0px 1px 5px rgb(204, 204, 204);
    cursor: pointer;
}

.cards .card img {
    width: 100%;
}

.cards .card h2 {
    font-size: 30px;
    font-weight: 500;
    padding: 10px 20px;
}

.cards .card p,
h2 {
    line-height: 1.5;
    padding: 10px 20px;
}

.cards .card .btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/*================
fourth-container
=================*/

.fourth-container {
    display: flex;
    align-items: center;
    margin: 70px 0px;
}

.fourth-container a i {
    font-size: 20px;
    margin-left: 20px;
}


/*================
footer
=================*/

footer {
    background-color: #f4f2f2;
    padding: 50px 0px;
}

.footer {
    width: 80%;
    margin: auto;
}

.footer a {
    font-size: 11px;
    color: rgb(48, 47, 47);
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 2.2;
}

.footer-terms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-terms a {
    margin-right: 20px;
}

.first-term i {
    font-size: 20px;
    margin-right: 5px;
}




@media screen and (max-width:1150px) {

    .showcase {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .showcase-content {
        background-color: white;
        width: 95%;
        margin: auto;
        margin-top: 390px;
        padding: 50px;
        box-shadow: 1px 1px 5px gray;
    }

    .container {
        margin-top: 100px;
        width: 98%;
    }

    .first-container .card {
        width: 47%;
        margin: 15px;
    }

    .second-container {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .second-container .content {
        background-color: rgb(255, 255, 255);
        color: black;
        width: 95%;
        margin: auto;
        margin-top: 390px;
        padding: 50px;
        box-shadow: 1px 1px 5px gray;
    }

    .cards .card {
        width: 47%;
        margin: 15px;
    }

    .footer {
        width: 95%;
    }

    .footer-links ul {
        width: 30%;
        margin-top: 40px;
    }

    .first-term {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}

@media screen and (max-width:1050px) {

    .navbar {
        justify-content: space-evenly;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
    }

    .main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-550px);
        width: 50%;
        height: 100%;
        background-color: rgb(234, 234, 234);
        opacity: 0.9;
        padding: 20px;
        transition: transform 0.5s ease-in-out;
        line-height: 3;
    }

    .main-menu.show {
        transform: translateX(-20px);
    }

    .showcase-content {
        margin-top: 300px;
        padding: 10px;
    }

    .first-container .card {
        width: 45%;
        margin: 10px;
    }

    .first-container .card h2 {
        font-size: 20px;
    }

    .container {
        margin-top: -20px;
    }

    .second-container .content {
        margin-top: 300px;
        padding: 10px;
    }

    .third-container {
        margin-top: 50px;
    }

    .third-container h2 {
        font-size: 25px;
    }

    .cards .card {
        width: 45%;
        margin: 10px;
    }

    .cards .card h2 {
        font-size: 20px;
    }

    .footer-terms {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footer-terms a {
        margin-right: 15px;
    }
}

@media screen and (max-width:540px) {

    .navbar .right-menu {
        display: none;
    }

    .showcase-content {
        margin-top: 140px;
        padding: 10px;
    }

    .first-container .card {
        width: 100%;
        margin: 10px;
    }

    .second-container .content {
        margin-top: 160px;
    }

    .third-container {
        margin-top: -50px;
    }

    .cards .card {
        width: 100%;
        margin: 10px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -80px;
    }

    .footer-terms {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-terms a {
        margin-right: 15px;
    }
}